@charset "UTF-8";
@font-face {
    font-family: 'LOTTERIACHAB';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


* { margin: 0; padding: 0; }

html { height: 100%; }
		
body {
	height: 100%;
	padding: 30px 0;
 	background-color: #ddd;
}
		
.container {
	min-height: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	background-color: whitesmoke;
}

		
		
.greeting-content {
	font-family: 'TheJamsil5Bold';
	padding: 50px;
}
		
h1 {
 	padding: 1em; 
	font-size: 5em;
	font-family: 'LOTTERIACHAB',san-serif;
	color: #FF8200;
}
		
h3 {
	font-size: 2em;
	font-weight: bold;
}
		
.current-time {
	font-size: 1.2em;
	padding: 1em;
}